<h3>User Register Form_for Tag</h3>
<%= form_for(@user, url: users_path(@user)) do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
    <% if @user.errors[:password][0] %>
      <p class="validation_errors">Validations Error:<%= @user.errors.full_messages_for(:password).first %></p>
    <% end %>
    <%= f.label :password %>
    <%= f.password_field :password %>

  </p>
  <%= f.submit "Register" %>
<% end  %>


<% if false %>
  <h3>User Registration Form_tag hidden</h3>
  <%= form_tag("/users") do %>
  <p>
    <%= label_tag "Email:" %>
    <%= text_field_tag "email" %>
  </p>
    <%= submit_tag "Register" %>
  <% end %>
<% end %>

<% if false %>
  <form class="" action="/users" method="post">
    <input type="submit" name="" value="Register">
  </form>
<% end %>
