<%= form_for(@user, url: users_path(@user)) do |f| %>
  <%= f.email_field :email, class: "form-control" %>

  <% if @user.errors[:password][0] %>
    <p class="validation_errors">Validations Error:<%= @user.errors.full_messages_for(:password).first %></p>
  <% end %>

  <%= f.password_field :password, class: "form-control" %>
  <%= f.submit "Create Account", class: "btn btn-primary btn-block" %>
<% end %>
