<h3>User Regist Form_for Tag</h3>
<%= form_for(@user, url: users_path(@user)) do |f| %>
<p>
  <%= f.label :email %>
  <%= f.email_field :email %>
</p>
<p>
  <%= f.label :password %>
  <%= f.password_field :password %>

</p>
<%= f.submit "Register" %>
<% end  %>

<% if @user.errors[:password] %>
  <p><%= @user.errors[:password][0] %></p>
<% end %>

<h3>User Registration Form_tag hidden</h3>
<%#= form_tag("/users") do %>
<p>
  <%#= label_tag "Email:" %>
  <%#= text_field_tag "email" %>
</p>
  <%#= submit_tag "Register" %>
<%#= end %>
